<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <link rel="stylesheet" href="./style.css">
    <script src="scripts.js"></script>

</head>


<body ng-app="myApp">
    {{ 144/12 }}
    <div ng-controller="firstController">
        <p>{{message}}</p>
    </div>
    <hr>
    <div ng-controller="MainController">
        <p>{{message}}</p>
        <h2>Hello {{candidate.firstName}} {{candidate.lastName}}!!</h2>

        <img ng-src=" {{candidate.Imagesrc}} " title="{{candidate.firstName}} {{candidate.lastName}} ">

    </div>
    <hr>
    <div ng-controller="GithubController">
        {{username}}
        <form name="searchUser" ng-submit="search(username)">
            <input type="text" required placeholder="Enter username" ng-model="username">
            <input type="submit" value="search">

        </form>
        <p>HEY {{user.name}} !!! Greetings from Github API!!!</p>
        <div>{{error}}</div>
        <img ng-src=" {{user.avatar_url}} " title="{{user.name}} ">
        <table>
            <thead>
                <th>Name</th>
                <th>stars</th>
                <th>Language</th>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos">
                    <td>{{repo.name}}</td>
                    <td>{{repo.stargazers_count}}</td>
                    <td>{{repo.language}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>